<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .code{
            color: red;
        }
    </style>
</head>
<body>
    <h1 class="code" align="center">CYBERSQUARE</h1>
    <P align="center">Cyber Square is a learning platform for kids from age 4 - 17 to enhance coding <br> skills and to shift from users of technology to creators of technology. <br> The platform offers online courses for students,  curriculum for CBSE and British <br> schools to teach their IT subject and focuses on teaching Coding, <br> Artificial Intelligence, Robotics and IoT.

        Cyber Square, is an initiative by Baabte System Technologies  <br> Pvt Ltd, an EdTech company founded in 2010.
        
        In 2014, Cyber Square introduced at Habitat School Al Jerf, Ajman and they became the <br> first school in the UAE to start teaching coding from <br> Grade 1 as part of curriculum.
        
        On 12 December 2019, Cyber Square set up the first Artificial Intelligence <br> School lab for the first time in UAE, i.e. in Habitat School Al Tallah.
        
        Cyber Square is the first company in India to launch Artificial Intelligence <br> aligned curriculum from Grade 2 for CBSE Schools which was <br> inaugurated by Ms Debjani Ghosh, President, NASSCOM at the Digital Fest event of Dayapuram Residential School, Kozhikode Kerala.</P>

        <p align="center"><a href="http://127.0.0.1:5500/app2/template/welcome.html">Back</a></p>
</body>
</html>