<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        input {
    width: 150px;
    height: 10px;
    padding: 10px;
    border: 1px;
    background-color: rgb(170, 164, 164);
    color: white;

    </style>
</head>
<body>
    <h1 align="center">CONTACT</h1>
    <form action="" method="POST">
        <table align="center" cellspacing="5px" cellpadding="5px">
            <tr>
                <td><input type="number" placeholder="Contact number"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Email ID"></td>
            </tr>
        </table>
        <p align="center"><a href="https://www.google.com/maps/dir//Cyberpark+Kozhikode,+28%2F1650D,+Cyberpark+Kozhikode+Park+Rd,+Nellikkode,+Kozhikode,+Kerala+673016/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ba65b946032ba75:0xf5ed91156d32a4f2?sa=X&ved=2ahUKEwjXuobp1qPzAhXSmuYKHX4KA-0Q48ADegQIDhBB"></a>Google Map</p>
        <p align="center"><a href="http://127.0.0.1:5500/app2/template/welcome.html">Back</a></p>

    </form>
    
</body>
</html>

