<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        input {
    width: 150px;
    height: 10px;
    padding: 10px;
    border: 1px;
    background-color: rgb(170, 164, 164);
    color: white;

    </style>
</head>
<body>
    <h1 align="center">CONTACT</h1>
    <form action="" method="POST">
        <table align="center" cellspacing="5px" cellpadding="5px">
            <tr>
                <td><input type="number" placeholder="Contact number"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Email ID"></td>
            </tr>
        </table>
        <p align="center"><a href="https://www.google.com/maps/dir/11.3145703,76.0092698/baabtra/@11.2851884,75.7689432,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3ba6417ede0da4a7:0x55472e805eede531!2m2!1d75.8340077!2d11.2481566">Google Map</a></p>
        <p align="center"><a href="http://127.0.0.1:5500/app2/template/welcome.html">Back</a></p>

    </form>
    
</body>
</html>





