<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <style>
        .code{
            border: 1px;
            background-color: rosybrown;
        }

    </style>
</head>
<body>
    <div class="code">
        <h1 align="center">WELCOME CYBERSQUARE</h1>
        <p align="center">Cyber Square e-learning platform – a virtual site, generally accessible <br> to all people that need basic computer literacy training <br> and more advanced IT workshops for kids, youth, adults, <br> and the elderly, created by our experts and practitioners <br> from Capgemini.Cyber Square is the best online <br> coding platform for kids that offers various online <br> coding courses which will make kids future-ready</p>
        <p align="center"><a href="http://127.0.0.1:5500/app2/template/about.html">About</a><a href="http://127.0.0.1:5500/app2/template/contact.html">Contact</a></p>
    </div>


</body>
</html>